.login-panel {
  margin: 20px auto;
  padding: 20px 10px;
  color: #FFCC66;
}

.login-panel input {
  width: 300px;
  color: #0066CC;
  font-size: 1em;
  margin: 0 8px;
}

.login-panel button {
  width: 100px;
  color: #FFFFFF;
  font-size: 1em;
  text-decoration: none;
  background-color: #CC6633;
  border-style: none;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba(90,60,30,1);
}
.login-panel button:active {
  background-color: #DD9966;
  box-shadow: 1px 1px 1px rgba(255,180,120,1);
}
.login-panel button:focus {
  outline: none;
}
