.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.hamcco-container {
  max-width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #dddddd;
}
.hamcco-grid {
  margin: 10px;
  padding: 10px ;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  background-color: #eeeeee;
}
.hamcco-cell {
  margin: 10px;
  padding: 0px;
  border-radius: 5px;
  line-height: 1;
  color: #000;
  background-color: #6699cc;
  flex: 1;
}
.flex1 { flex: 1; }
.flex2 { flex: 2; }
.flex3 { flex: 3; }
.flex4 { flex: 4; }
.flex5 { flex: 5; }
.flex6 { flex: 6; }
.flex7 { flex: 7; }
.flex8 { flex: 8; }
.flex9 { flex: 9; }
.flex10 { flex: 10; }
.flex11 { flex: 11; }
.flex12 { flex: 12; }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
